@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .app-select .ant-select-selector {
    @apply h-10 border-[#F2F2F2] rounded-lg !important;
  }
  .app-select .ant-select-arrow {
    @apply translate-y-1/2;
  }

  .app-input {
    @apply focus-within:border-[#E0E0E0];
  }
}

@font-face {
  font-family: SatoshiLight;
  src: url(/assets/fonts/Satoshi-Light.otf);
}
@font-face {
  font-family: Satoshi;
  src: url(/assets/fonts/Satoshi-Regular.otf);
}
@font-face {
  font-family: SatoshiMedium;
  src: url(/assets/fonts/Satoshi-Medium.otf);
}
@font-face {
  font-family: SatoshiBold;
  src: url(/assets/fonts/Satoshi-Bold.otf);
}
@font-face {
  font-family: SatoshiBlack;
  src: url(/assets/fonts/Satoshi-Black.otf);
}

body {
  font-family: Satoshi;
}
