@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .mobileDrawer .ant-drawer-body {
    @apply p-0;
  }

  .testimonial-carousel .ant-carousel .slick-dots.slick-dots-bottom {
    @apply -bottom-10;
  }

  .testimonial-carousel
    .ant-carousel
    .slick-dots.slick-dots-bottom
    :is(li, button) {
    @apply w-2 h-2 bg-[#F2F2F2] rounded-full;
  }

  .testimonial-carousel
    .ant-carousel
    .slick-dots.slick-dots-bottom
    .slick-active
    button {
    @apply bg-app-purple;
  }

  .form-btn {
    @apply h-12 md:h-14 !important;
  }

  .app-select .ant-select-selector {
    @apply h-10 border-[#F2F2F2] rounded-lg !important;
  }
  .app-select .ant-select-arrow {
    @apply translate-y-1/2;
  }

  .app-input {
    @apply focus-within:border-[#E0E0E0];
  }

  .voucherModal .ant-modal {
    max-width: 100%;
  }
  .voucherModal .ant-modal-content {
    padding: 0;
  }

  .voucherModal .ant-select {
    @apply h-auto;
  }
  .voucherModal .ant-select-selector {
    @apply h-14 bg-[#F8F8F8] px-4 border-[#E0E0E0] !important;
  }

  .voucherModal .ant-input {
    @apply border-[#E0E0E0] placeholder:text-[#828282];
  }

  .paycodeTable th {
    @apply bg-white text-[#828282] font-normal !important;
  }

  .paycodeTable th::before {
    display: none;
  }

  .paycodeTable td {
    @apply text-[#333] align-top border-b-0 !important;
  }

  .paycodeTable .ant-pagination {
    justify-content: center;
  }
}

@font-face {
  font-family: SatoshiLight;
  src: url(/assets/fonts/Satoshi-Light.otf);
}
@font-face {
  font-family: Satoshi;
  src: url(/assets/fonts/Satoshi-Regular.otf);
}
@font-face {
  font-family: SatoshiMedium;
  src: url(/assets/fonts/Satoshi-Medium.otf);
}
@font-face {
  font-family: SatoshiBold;
  src: url(/assets/fonts/Satoshi-Bold.otf);
}
@font-face {
  font-family: SatoshiBlack;
  src: url(/assets/fonts/Satoshi-Black.otf);
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: Satoshi;
}
